<form class="ui segment form" action="/dashboard/addstation" method="POST">
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Title</label>
        <input placeholder="Title" type="text" name="name">
      </div>
      <div class="field">
        <label>Lat</label>
        <input placeholder="Lat" type="number" name="lat">
      </div>
      <div class="field">
        <label>Lng</label>
        <input placeholder="Lng" type="number" name="lng">
      </div>
      <button class="ui blue submit button">Add Station</button>
    </div>
  </div>
</form>
