<form class="ui stacked segment form" action="/members/editmember" method="POST">
    <div class="four fields">
        <div class="field">
            <label>email</label>
            <input placeholder="email" type="email" name="email">
            <p>
                First Name:
            </p>
        </div>
        <div class="field">
            <label>password</label>
            <input placeholder="password" type="password" name="password">
        </div>
        <div class="field">
            <label>firstname</label>
            <input placeholder="firstname" type="text" name="firstname">
        </div>
        <div class="field">
            <label>lastname</label>
            <input placeholder="lastname" type="text" name="lastname">
        </div>
    </div>
    <button class="ui centered green button">Edit Member</button>
</form>
